<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Prophet</title>
  </head>
  <body>

    <form id="form" method="post">

        <select name="town">
          <option>Sembawang</option>
          <option>Tampines</option>
        </select>

        <select name="roomtype">
          <option>5 Room</option>
          <option>2 Room</option>
        </select>

        <button type="submit">Prophesize!</button>

    </form>

    <div id="results">
    </div>

    <script type="text/javascript" src="index.js">



    </script>
  </body>
</html>
