body
  font-family "Oxygen", Helvetica, Arial, sans-serif
  margin 0 30px
  padding 0

section
  margin-bottom 60px

img
  margin 0 8px

footer
  height 1em

.img-ctn
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
