@media screen and (max-width: 450px)
  #chart-detail
    width 100%
  #chart-detail > table
    width 100%
    border-spacing 0
  #chart-detail table,
  #chart-detail thead,
  #chart-detail tbody,
  #chart-detail th,
  #chart-detail td,
  #chart-detail tr
    display block
  #chart-detail thead tr
    display none
  #chart-detail tr
    display flex
    flex-direction column
    border-bottom darkslategrey
  #chart-detail tr:nth-child(odd)
    background lightgrey
  #chart-detail tr:nth-child(even)
    background none
  #chart-detail td
    border none
    padding 0.5em
    display flex
    justify-content flex-start
  #chart-detail td:before
    font-weight bold
    width 50%
    text-align start
  #chart-detail td:nth-of-type(1):before
    content "#"
	#chart-detail td:nth-of-type(2):before
    content "Block"
	#chart-detail td:nth-of-type(3):before
    content: "Street Name"
	#chart-detail td:nth-of-type(4):before
    content: "Storey Range"
	#chart-detail td:nth-of-type(5):before
    content: "Remaining Lease (years)"
	#chart-detail td:nth-of-type(6):before
    content: "Floor Area (sqm)"
	#chart-detail td:nth-of-type(7):before
    content: "Resale Price (SGD)"

@media screen and (min-width: 451px)
  #chart-detail
    width 100%
    margin-bottom 4em
  #chart-detail > table
    width 100%
    border-spacing 0
  #chart-detail > table > tr
    display flex
    justify-content space-around
  #chart-detail th, #chart-detail td
    text-align center
    padding 0.5em
  #chart-detail thead
    background darkslategrey
    color white
  #chart-detail tr:nth-child(even)
    background lightgrey
  #chart-detail td:nth-of-type(1):before
    content ""
  #chart-detail td:nth-of-type(2):before
    content ""
  #chart-detail td:nth-of-type(3):before
    content: ""
  #chart-detail td:nth-of-type(4):before
    content: ""
  #chart-detail td:nth-of-type(5):before
    content: ""
  #chart-detail td:nth-of-type(6):before
    content: ""
  #chart-detail td:nth-of-type(7):before
    content: ""
