html, body
  height 100%
  margin 0
  padding 0
  font-family Helvetica, sans-serif

.content
  margin 20px

.input
  display flex
  flex-direction column
  justify-content center
  align-items center

#plot-container, #map-container
  margin 20px
  display flex
  flex-direction column
  justify-content center

#plot-space
  flex-grow 1
  display flex
  justify-content center

#transactions-container, #transactions-list
  display flex
  flex-direction column
  justify-content center

#map
  height 500px
