html, body
  height 100%
  margin 0
  padding 0
  font-family Helvetica, sans-serif

.content
  margin 50px

.input
  display flex
  flex-direction row
  justify-content center
  align-items center

#plot-form
  margin-left 20px

#plot
  height 500px
