@require 'chart-table'

html, body
  margin 0
  padding 0
  font-family 'Oxygen', Helvetica, Arial, sans-serif

body
  display flex
  flex-direction column

h1, h2
  text-align center

nav
  position fixed
  width 100%
  top 0
  background-color darkslategrey
  display flex
  flex-direction row
  justify-content space-between
  color white
  z-index 1
  box-sizing border-box

nav ul
  margin 0
  padding 1em 2vw
  background-color darkslategrey
  list-style none
  display flex
  flex-direction row
  justify-content space-around

.selectors
  padding 1em 2vw
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content center
  align-items center

form
  display inline-block
  color black

.nav-item
  margin 0 1em
  padding 0.25em 0

.nav-item a
  text-decoration none
  color white

.nav-item a.active
  font-weight bolder

.selectors-item
  margin 0 0.5em
  padding 0.25em 0

main
  margin-top 4em
  margin-bottom 2.1em
  padding 0 2vw
  display flex
  flex-direction column

main > div
  margin-bottom 1em
  width 100%
  display flex
  flex-direction column
  align-items center

#chart-container
  position relative

#chart-container
  position relative
  min-height 500px

#map
  width 100%
  height 70vh
  min-height 500px

.chart-loading
  opacity 0.5

.loading::before
  content url('../img/spin.svg')
  z-index 1
  position absolute
  width 100%
  height 100%
  left: 0
  top: 0
  display flex
  justify-content center
  align-items center
  opacity 0.9

#prev-month, #next-month
  position absolute
  width 8vh
  height 8vh
  min-width 50px
  min-height 50px
  z-index 1
  top 31vh
  border none
  background-color lightslategrey
  opacity 0.5
  color white

#prev-month
  left 0

#next-month
  right 0

footer
  position fixed
  bottom 0
  width 100%
  padding 0.5em
  display flex
  justify-content space-around
  flex-wrap wrap
  background-color darkgrey
  box-sizing border-box

.footer-text
  margin 0.5em
  font-size 0.6em

footer a
  text-decoration none

.terms
  position fixed
  top 0
  z-index 1
  background white
  margin 20vh 5vw 0
  padding 5vw
  display flex
  flex-direction column
  align-items center
  border 2px solid darkslategrey

.terms p
  align-self flex-start

.terms.hidden
  display none

@media (max-width: 900px)
  main
    margin-top 11em
    margin-bottom 3.5em
  h1
  h2
    font-size 1.4em
  nav
    flex-direction column
    background-color white
  nav ul
    font-size 1.5em
  .selectors
    color black
